.head {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
}
.head:before,
.head:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.head:before {
  border-top: 2px solid #c47135;
  left: 0px;
  top: -5px;
}
.head:after {
  border-bottom: 2px solid #c47135;
  bottom: -5px;
  right: 0px;
}
.head:hover {
  background-color: #c47135;
}
.head:hover:before,
.head:hover:after {
  height: 100%;
  width: 100%;
}

.underline {
  display: inline-block;
  position: relative;
  color: crimson;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
